<h1>Add a Team</h1>

<form action="/teams/add" method="post">
	<label>Name: <input type="text" name="team_name"></label><br>
	<label>Sport: <input type="text" name="sport"></label><br>
	<label>Logo: <input type="url" name="logo_url"></label><br>
	<img class="profile" id="preview" src=""><br>
	<input type="submit" value="Add Team">
</form>